/* ==== HEADER STYLES ==== */


.container {
	display:               grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-auto-rows:        minmax(2.2rem, auto);
	grid-gap:              1rem;
	padding:               10px;
}
.item {
  font-size:   1.5rem;
  text-align:  center;
  color:       #ffcc00;
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    color:         #ffffff;
    transition:    color .15s ease-in-out;
    border-bottom: 2px solid red;
}


/* ==== SCUTCHEON STYLES ==== */


.scutcheon {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    width:        200px;
}


/* ==== BOSS/FOTO STYLES ==== */


#boss {
    float:         right;
    max-width:     30%;
    margin:        45px 100px;
    border-radius: 10px;
    box-shadow:    5px 5px 3px 0 black;
}


/* ==== BOX / CLUB STORY STYLES ==== */

#box {
    position: relative;
    left:     0%;
    margin:   1.25rem;
}
#box ul {
    list-style-type: none;
    font-size:       1.15rem;
}
ul, li {
    font-family: 'Open Sans Condensed', sans-serif;
}
dl {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:    1.35rem;
    margin:       1.15rem;
}


/* ==== FOTO GALLERY STYLES ==== */


.fotos {
    height:  220px;
    width:   190px;
    padding: 0.6rem;
    filter:  grayscale(95%);
}
#team {
    height:  220px;
    width:   260px;
    padding: .6rem;
}
#foto {
    height:  180px;
    width:   270px;
    padding: .6rem;
}
#fans {
    width: 75%;
}
#fans:hover {
    box-shadow: 5px 6px 3px 0 black;
    transform:  scale(1.1);
  }
#fan {
    width: 85%; 
}
#fan:hover {
    box-shadow: 5px 6px 3px 0 black;
    transform:  scale(1.1);
}
#arena {
    width:     90%;
    transform: skew(10deg);
}
#stadion {
    width:     95%;
    transform: skew(-10deg);
}


/* ==== FOOTER STYLES ==== */


footer {
    position:         relative;
    left:             42%;
    width:            15vw;
    height:           auto;
    background-color: #000033;
    border:           1px solid #ffffff;
    color:            antiquewhite;
    text-align:       center;
}